In [4]:
# data analysis and preprocessing 
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer
import re

In [7]:
news=pd.read_csv('News.csv')
news.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [9]:
news.shape

(20800, 5)

### Most active Authors with more than 100 news articles

In [18]:
auth=news['author'].value_counts()
auth=auth[auth>100]
auth

Pam Key                243
admin                  193
Jerome Hudson          166
Charlie Spiering       141
John Hayward           140
Katherine Rodriguez    124
Warner Todd Huston     122
Ian Hanchett           119
Breitbart News         118
Daniel Nussbaum        112
AWR Hawkins            107
Jeff Poor              107
Joel B. Pollak         106
Trent Baker            102
Name: author, dtype: int64

### Most active authors with coresponding number of fake/authentic news articles
### (0-fake, 1-authentic)

In [22]:
auth_count=news.groupby(['author','label'])['label'].count()

auth=list(auth.index)    # get list of top active authors with over 100 news articles
auth_count[auth]

author               label
Pam Key              0        242
                     1          1
admin                1        193
Jerome Hudson        0        166
Charlie Spiering     0        141
John Hayward         0        140
Katherine Rodriguez  0        124
Warner Todd Huston   0        122
Ian Hanchett         0        119
Breitbart News       0        118
Daniel Nussbaum      0        112
AWR Hawkins          0        107
Jeff Poor            0        107
Joel B. Pollak       0        106
Trent Baker          0        102
Name: label, dtype: int64

### From the above output, except author 'Admin', all other most active authors post 'fake news'
## Remove missing values and reset index